.header {
    position: fixed;
    width: 100%;
    background-color: $inteh_white;
    z-index: 4;
    &__inner {
        padding: 16px 0;
        border-bottom: 1px solid $inteh_gray-light;
        max-height: 114.5px;
    }
    &__nav {
        margin-left: 8%;
        &-phone {
            font-family: 'Manrope';
            font-size: 22px;
            line-height: 32px;
            font-weight: 700;
        }
        &-wa {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.catalog {
    padding-top: 56px;
    padding-bottom: 80px;
    position: fixed;
    width: 100%;
    background-color: $inteh_white;
    // margin-top: 10%;
    transition: opacity 0.5s ease;
    transform: translateY(-200%);
    opacity: 0;
    border-radius: 0px 0px 24px 24px;
    z-index: 1;
    &__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 32px;
    }
    &__item {
        border: 2px solid $inteh_gray;
        border-radius: 20px;
        padding: 16px 22px;
        font-weight: 700;
        position: relative;
        width: 100%;
        // max-width: 352px;

        &::after {
            content: '';
            background-color: $inteh_white;
            position: absolute;
            left: -2px;
            top: 50%;
            transform: translateY(-50%);
            width: 102%;
            height: 80px;
            z-index: 2;
        }
        &-img {
            z-index: 3;
        }
    }
}

.catalog__item-text {
    background-color: $inteh_white;
    z-index: 3;
}

.catalog-open {
    transform: translateY(0%);
    opacity: 1;
    z-index: 1;
}
.header__nav-link-dropicon {
    transition: all 0.5s ease;
}
.btn-reverse {
    transform: rotate(-180deg);
}
