.hero__catalog {
    margin-top: 64px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    &-inner {
        padding: 120px 0;
        border-radius: 24px;
        background: rgb(246, 246, 249);
    }
}
.hero__catalog-item {
    position: relative;
    max-width: 352px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #ececf3;
    transition: color 0.5s ease;
    &::after {
        content: '';
        background-color: $inteh_white;
        position: absolute;
        left: -2px;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% + 4px);
        height: calc(100% - 48px);
        z-index: 2;
    }

    .hero__catalog-item-prod-icon-hover {
        display: none;
    }

    &:hover {
        background-color: $inteh_gray_blue;
        h3 {
            color: $inteh_emerald;
        }
        .hero__catalog-item-arrow-icon img {
            opacity: 1;
        }
        .hero__catalog-item-prod-icon-hover {
            display: block;
        }
        .hero__catalog-item-prod-icon-un {
            display: none;
        }
        .hero__catalog-item::after {
            background-color: transparent;
        }
    }
    &:hover::after {
        background-color: transparent;
    }
    &-arrow-icon img {
        opacity: 0;
    }
}

.hero__catalog-item-2 {
    position: relative;

    cursor: pointer;
    border: 2px solid #ececf3;
    transition: color 0.2s ease;

    &::after {
        content: '';
        background-color: $inteh_white;
        position: absolute;
        left: -2px;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% + 4px);
        height: calc(100% - 48px);
        z-index: 2;
    }

    .hero__catalog-item-prod-icon-hover {
        display: none;
    }

    &:hover {
        background-color: $inteh_gray_blue;
        h3 {
            color: $inteh_emerald;
        }
        .hover-catalog {
            color: white !important;
        }
        .hover-catalog-btn {
            color: white !important;
            background-color: $inteh_emerald;
        }
        .hero__catalog-item-arrow-icon img {
            opacity: 1;
        }
        .hero__catalog-item-prod-icon-hover {
            display: block;
        }
        .hero__catalog-item-prod-icon-un {
            display: none;
        }
        .hero__catalog-item::after {
            background-color: transparent;
        }
    }
    &:hover::after {
        background-color: transparent;
    }
    &-arrow-icon img {
        opacity: 0;
    }
}

.hero__project {
    position: relative;
    background-color: transparent;
    max-width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 160px;
    margin-bottom: 132px;
    &::before {
        content: '';
        position: absolute;
        background: url('../images/noise.png');
        background-color: #282d3a;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        z-index: -1;
    }
    &-name {
        color: rgb(255, 255, 255);
        font-family: 'NEXT ART_SemiBold';
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
    }
    &-city {
        color: rgb(255, 255, 255);
        font-family: 'Manrope';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: right;
    }
}
.hero__project-param {
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    background: rgb(63, 68, 81);
    span {
        color: rgb(255, 255, 255);
        font-family: 'Manrope';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.hero__project-long-box {
    position: relative;
}
.hero__project-long-box-img {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}
.hero__project-name,
.hero__project-param {
    transition: all 0.5s ease;
}

.hero__project-item {
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255, 0.16);
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
        border: 2px solid rgb(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        .hero__project-name {
            color: $inteh_emerald;
        }
        .hero__project-param {
            background: rgb(40, 45, 58);
        }
    }
}
.hero__project-title {
    color: $inteh_white;
    font-family: 'NEXT ART_SemiBold';
    font-size: 46px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.hero__project-long {
    padding: 4px 16px 4px 16px;
    border-radius: 80px;
    background-color: $inteh_white;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(37, 37, 37);
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.hero__project-img {
    border-radius: 20px;
}

.hero__num-cifri {
    position: relative;
    font-family: 'NEXT ART_Bold';
    font-size: 260px;
    color: transparent;
    font-weight: 700;
    line-height: 76%;
    text-align: left;
    text-transform: uppercase;
    -webkit-text-stroke: 2px $inteh_green_pine;
    &::after {
        content: '';
        position: absolute;
        filter: blur(64px);
        background: $inteh_green_pine;

        width: 55px;
        height: 55px;
        bottom: 15%;
        right: 30%;
    }
}
.hero__num-text {
    font-family: 'NEXT ART_Bold';
    font-size: 260px;
    color: transparent;
    font-weight: 700;
    line-height: 76%;
    text-align: left;
    text-transform: uppercase;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.1);
}
.faq__tab-item {
    cursor: pointer;
    transition: all 0.5s ease;
}
.faq__tab-info {
    transition: all 0.5s ease;
    overflow: hidden;
    height: 0;
    p {
        color: rgb(37, 37, 37);
        font-family: 'Manrope';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 16px;
        transition: all 0.5s ease;
        opacity: 0;
        height: 0;
    }
}
.faq__tab-q {
    color: rgb(37, 37, 37);
    font-family: 'NEXT ART_SemiBold';
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}
.faq__tab-open {
    padding-top: 24px;
    opacity: 1;
    height: auto;
    p {
        opacity: 1;
        height: auto;
    }
}
