.hero {
    margin-top: 115px;
    padding-right: 24px;
    padding-left: 24px;
    &__inner {
        position: relative;
    }
    .hero__info-povod {
    }
    &__text {
        color: $inteh_white;
        font-family: Manrope;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
    }
    &__title {
        font-family: 'NEXT ART_SemiBold';
        color: $inteh_white;
        font-size: 64px;
        font-weight: 600;
        line-height: 72px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 70px;
        margin-top: 40%;
    }
    &__kavichki {
        color: $inteh_emerald;
    }
    margin-bottom: 100px;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 24px;

    z-index: -100;
    video {
        width: calc(100% - 48px);
        max-height: 896px;
    }
}
