//---------Цвета

.text-black {
    color: $black !important;
}
.text-white {
    color: $white !important;
}
.text-gray {
    color: #9298a6 !important;
}
.stroke-green {
    -webkit-text-stroke: 2px #048159;
}
//--------Фоны

.bg-black {
    background-color: $black;
}
.bg-noise {
    background: url('../../images/noise.png'), #282d3a;
}

//---------Шрифты
/////----Размеры

.fs-14 {
    font-size: 14px !important;
}
.fs-16 {
    font-size: 16px !important;
}
.fs-20 {
    font-size: 20px !important;
}
.fs-20b {
    font-size: 20px !important;
    font-weight: 700;
}
.fs-22b {
    font-size: 22px !important;
}
.fs-32 {
    font-size: 32px;
}
.tt-none {
    text-transform: none;
}

/////----Жирность

.fw-700 {
    font-weight: 700 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-300 {
    font-weight: 300;
}

/////----Отступы

.lh-32 {
    line-height: 32px;
}

//---------Кнопки

.btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
}

.btn--lg {
    padding: 16px 40px 16px 40px;
    font-size: 16px;
    font-weight: 700;
}

.btn--stroke {
    background-color: transparent;
    color: $black;
    border: 2px solid $emerald;
    transition: background-color 0.3s ease;
    &:hover {
        color: $white;
        background-color: $emerald;
    }
    &:active {
        color: $white;
        background-color: $emerald;
    }
}

.btn--fill {
    background-color: $emerald;
    color: $white;
    border: 2px solid $emerald;
    transition: box-shadow 0.3s ease;
    &:hover {
        color: $white;
        box-shadow: 0px 20px 56px -8px rgba(3, 108, 75, 0.32);
    }
    &:active {
        color: $white;
        background-color: $emerald;
    }
}
.btn--in-black {
    background-color: transparent;
    transition: all 0.3s ease;
    &:hover {
        background-color: $darkgray;
    }
}

//---------Элементы
.input--alert {
    color: $black;
    border: 2px solid rgb(235, 87, 87);
    background: rgb(249, 240, 240);
}

//---------Отсутпы
.mt-200 {
    margin-top: 200px;
}
.mb-160 {
    margin-bottom: 160px;
}
.mx-16 {
    margin: 0 16px;
}
.mb--16 {
    margin-bottom: -45px;
}
//---------Бордеры
.br-24 {
    border-radius: 24px;
}
//-------Состояния

.hover {
    transition: color 0.3s ease;
    &:hover {
        color: $emerald !important;
    }
}
