a {
    font-family: 'Manrope';
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: $inteh_graphite_black;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.5s ease;
    &:hover {
        color: $inteh_green_pine;
    }
}
.container {
    margin: 0 auto;
}
// .btn {
//     border: 2px solid $inteh_emerald;
//     font-weight: 800;
//     font-family: 'Manrope';
//     font-size: 16px;
//     text-decoration: none;
//     cursor: pointer;
//     color: $inteh_graphite_black;
//     background-color: $inteh_white;
//     transition: all 0.5s ease;
//     border-radius: 12px;
//     padding: 16px 40px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     &:hover {
//         background-color: $inteh_emerald;
//         color: $inteh_white;
//     }
// }
.btn-transparent {
    border: 2px solid $inteh_emerald;
    font-weight: 800;
    font-family: 'Manrope';
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: $inteh_white;
    background-color: transparent;
    transition: all 0.5s ease;
    border-radius: 12px;
    padding: 16px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: $inteh_emerald;
        color: $inteh_white;
    }
}
.btn-green {
    border: 2px solid $inteh_emerald;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;

    cursor: pointer;
    color: $inteh_white;
    background-color: $inteh_emerald;
    transition: all 0.5s ease;
    border-radius: 12px;
    padding: 16px 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: $inteh_white;
        border-radius: 12px;
        box-shadow: 0px 20px 56px -8px rgba(3, 108, 75, 0.32);
        background-color: $inteh_emerald;
    }
}
section {
    margin-bottom: clamp(32px, 50%, 64px);
}
.title-h2 {
    color: rgb(37, 37, 37);
    font-family: 'NEXT ART_SemiBold';
    font-size: 46px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
    text-transform: uppercase;
}
.hero__catalog-text {
    color: rgb(37, 37, 37);
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
.hero__catalog-item {
    background-color: $inteh_white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    cursor: pointer;
}

.btn--green {
    background-color: green;
    color: white;
}
.btn--graphite {
    background-color: graphite;
    color: white;
}
.btn--white {
    background-color: white;
    color: black;
}

.btn--small {
    font-size: 16px;
    line-height: 1.4;
    padding: 12px 28px;
}
.btn--medium {
    font-size: 18px;
    line-height: 1.5;
    padding: 14px 36px;
}
.btn--large {
    font-size: 20px;
    line-height: 1.6;
    padding: 16px 48px;
}
