@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-Light.woff2") format("woff2"), url("../fonts/Manrope-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-ExtraLight.woff2") format("woff2"), url("../fonts/Manrope-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: NEXT ART_Bold;
	font-display: swap;
	src: url("../fonts/NEXT ART_Bold.woff2") format("woff2"), url("../fonts/NEXT ART_Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NEXT ART_SemiBold;
	font-display: swap;
	src: url("../fonts/NEXT ART_SemiBold.woff2") format("woff2"), url("../fonts/NEXT ART_SemiBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NEXT ART_Regular;
	font-display: swap;
	src: url("../fonts/NEXT ART_Regular.woff2") format("woff2"), url("../fonts/NEXT ART_Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NEXT ART_Light;
	font-display: swap;
	src: url("../fonts/NEXT ART_Light.woff2") format("woff2"), url("../fonts/NEXT ART_Light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NEXT ART_Thin;
	font-display: swap;
	src: url("../fonts/NEXT ART_Thin.woff2") format("woff2"), url("../fonts/NEXT ART_Thin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-Black.woff2") format("woff2"), url("../fonts/Raleway-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-BlackItalic.woff2") format("woff2"), url("../fonts/Raleway-BlackItalic.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-BoldItalic.woff2") format("woff2"), url("../fonts/Raleway-BoldItalic.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-ExtraLight.woff2") format("woff2"), url("../fonts/Raleway-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Raleway-ExtraLightItalic.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-Italic.woff2") format("woff2"), url("../fonts/Raleway-Italic.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-LightItalic.woff2") format("woff2"), url("../fonts/Raleway-LightItalic.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/Raleway-MediumItalic.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-SemiBoldItalic.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-ThinItalic.woff2") format("woff2"), url("../fonts/Raleway-ThinItalic.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
