$maxWidth: 1920;
$minWidth: 320;

$inteh_graphite_black: #252525;
$inteh_gray_blue: #282d3a;
$inteh_green_pine: #048159;
$inteh_emerald: #3bc069;
$inteh_gray: #ececf3;
$inteh_gray-light: #f6f6f9;
$inteh_white: #ffffff;

$black: #252525;
$darkgray: #282d3a;
$darkgreen: #048159;
$emerald: #3bc069;
$lightgray: #ececf3;
$gray-white: #f6f6f9;
$white: #ffffff;
