$maxWidth: 1920;
$minWidth: 320;


$inteh_graphite_black: #252525;
$inteh_gray_blue: #282D3A;
$inteh_green_pine: #048159;
$inteh_emerald: #3BC069;
$inteh_gray: #ECECF3;
$inteh_gray-light: #F6F6F9;
$inteh_white: #FFFFFF;